<p id="notice"><%= notice %></p>

<p>
  <strong>Facebook:</strong>
  <%= @comment.facebook_id %>
</p>

<p>
  <strong>Post:</strong>
  <%= @comment.post %>
</p>

<p>
  <strong>Friend:</strong>
  <%= @comment.friend %>
</p>

<p>
  <strong>Message:</strong>
  <%= @comment.message %>
</p>

<p>
  <strong>Like count:</strong>
  <%= @comment.like_count %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
